# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.tsbuildinfo

# Build outputs
dist
build
.turbo
.next
out

# Misc
.DS_Store
*.log
*.tgz
.env*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Temporary files
.tmp
temp
